# Python cache
__pycache__/
*.pyc

# Virtual Environment (Môi trường ảo)
venv/
env/
.env

# IDE settings
.vscode/
.idea/

# Dataset & Large files (Tránh đẩy video test và file model nặng lên git)
*.mp4
*.avi
*.jpg
*.png
datasets/
runs/
*.pt
*.onnx
*.csv
*.gz
*.docx

.DS_Store
Thumbs.db
*.db
*.sqlite3
*.mdf
*.ldf
*.log

